# Introduction to Python 

* Jupyter Notebook 
* Quick overview of Python
* Running Python Code from the Shell 
* Markdown Cells

## Python Data Structures - Types

More about data types in Python at https://www.w3schools.com/python/python_datatypes.asp

* **Integers**

Languages such as Java, c and C++ are considered statically typed languages, where each variable has to be explicitly declared (i.e. in c++ you declare **int result = 0** . With Python, this is much simpler, considering how you can define and use the wide range of data types available:

In [1]:
# integers, float, etc.. python
x = 3 
y = 10.5
Msg = 'Result'
fx = x+y * 10 ** 2 # math operations 
print ('The Result is ',fx)

The Result is  1053.0

In [2]:
# A bit of formatting the ouput 
print(f'The {Msg} is {fx}')

The Result is 1053.0

In [3]:
print (f'The modulo operation in Python is %, so for instance 10%3 is {10%3}')

The modulo operation in Python is %, so for instance 10%3 is 1

* **Lists**

Very useful data structure, and can be easily defined as a list of comma separated values in square brackets. Lists in python are mutable and elements of the list cant be changed. You can think of lists as array (for now), we will later discuss numpy arrays in context of Data-related tasks. Below is some examples, notice the use of the **len( )** function, which returns the number of elements in the array/ list.

In [4]:
# DEFINE A LIST 
my_lst = [1,2,3,4,5,6,7,8,9,10]

# FIRST ELEMENT OF THE LIST 
print ('First element in the list is ',my_lst[0])

# LENGTH OF THE LIST
print ('Last element in the list is ',my_lst[len(my_lst)-1])##

First element in the list is  1
Last element in the list is  10

In [5]:
# slicing is an important concept in accessing elements in the list 
sub_lst = my_lst[2:4] # returns a list of the 2nd, 3rd and 4th element of of the above list 
sub_lst

[3, 4]

In [6]:
# more on slicing 
my_lst[:1]# first element 
my_lst[1:]# all elements apart from the first one 
my_lst[-1:] # last element
my_lst[:-1] # all elements apart from the last one

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* **Strings** 

Strings can be defined by use of single ( ‘ ), double ( ” ) or triple ( ”’ ) inverted commas. Strings enclosed in tripe quotes ( ”’ ) can span over multiple lines

In [7]:
msg = 'Welcome to RGU'
print(msg[1])
print(f'first char of msg is {msg[0]}')

e
first char of msg is W

* **Tuples** 
To represent a number of values separated by commas. They are also immutable and you will see the output is surrounded by parenthesis.

In [8]:
tuple_example = 1,2,4,10,24
print(tuple_example)

(1, 2, 4, 10, 24)

Single elements of tuples can be accessed similar to strings and list

In [9]:
print(tuple_example[0])
print(tuple_example[:2])
print(tuple_example[:3])# notice this returns tuples 
print(tuple_example[1:])
print(tuple_example)

1
(1, 2)
(1, 2, 4)
(2, 4, 10, 24)
(1, 2, 4, 10, 24)

* **Dictionary** 

Dictionaries are useful data structure. It is unordered, index and can be modified. Written within curly brackets and you can think of it as key, value pair collections. You can find more about dictionaries at https://www.w3schools.com/python/python_dictionaries.asp

In [11]:
# dictionary to represent taught modules 
module_dict = {
  "Code": "CM3151",
  "Name": "Machine Learning",
  "Year": 2024,
  "Stage":3
}

In [12]:
print(module_dict)

{'Code': 'CM3151', 'Name': 'Machine Learning', 'Year': 2024, 'Stage': 3}

You can get a value of specific key

In [13]:
print(f'Module {module_dict["Code"]}')
print(f'Is {module_dict["Name"]}')
print(f'And will be taught to students of Stage {module_dict["Stage"]}')
print(f'And will be delivered in the year {module_dict["Year"]}')

Module CM3151
Is Machine Learning
And will be taught to students of Stage 3
And will be delivered in the year 2024

You can also use the **get( )** method to access elements in the dictionary

In [14]:
print(module_dict.get('Code'))

CM3151

Update the values of specific items in the dictionary

In [15]:
module_dict["Year"]=2021
print(module_dict["Year"])

2021

Loop through all items of the dictionary

In [16]:
for key, value in module_dict.items():
    print (key,':',value)

Code : CM3151
Name : Machine Learning
Year : 2021
Stage : 3

You can always check the type of objects in python using the **type( )** function

In [17]:
print(type(module_dict))# dict
print(type(tuple_example))# tuple
print(type(my_lst))#

<class 'dict'>
<class 'tuple'>
<class 'list'>

## Python Casting

Some times you need to specify a certain data type, or change one data type to another. This is called **casting**. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types (i.e. integers, floats, etc…). For example to construct and integer, we use the **int( )** function, similarly for **float( )** and **str( )** to construct a string from variety of data types. Below some examples.

In [18]:
float_v = 1.1
int_v = 1
string_v = 'this is string'
# check data types

 Now, lets check the data types of the above variables

In [19]:
print(type(float_v))
print(type(int_v))
print(type(string_v))

<class 'float'>
<class 'int'>
<class 'str'>

Here, is how we can change **int_v** to float, same applies for other data types casting

In [20]:
int_v = float(int_v)
print('The value of int_v is ', int_v)
print('The Type of int_v after casting is ',type(float_v))

The value of int_v is  1.0
The Type of int_v after casting is  <class 'float'>

## Logical Operations 

Boolean operations are common across all programming languages. In fact, they are extensively used in all types of tasks. A Boolean operation returns one of two values **True** or **False**.

In [21]:
print(1 ==1)# check if two values are equal
print(10 < 9) # less than
print(10 > 9) # greater than
print(10 >= 9)# greater than or equal

True
False
True
True

Comparison operators are used to compare two values and again return one of two values **True** or **False**. If used in the form of if **statement**. The most two common operations that you will be using are **and** and **or** More can be found at https://www.w3schools.com/python/python_operators.asp. Typical examples are outlined below:

In [20]:
small = 10 
big = 100
results =  ((small <big) and (big%small==0)) 
results1 =  ((small <big) and (big%small!=0)) 
results2 =  ((small <big) or (big%small!=0)) 
results3 =  ((small >big) or (big%small!=0))

In [21]:
print(f'({small} <{big}) and ({big}%{small}==0) ', results)
print(f'({small} <{big}) and ({big}%{small}!=0) ',results1)
print(f'({small} <{big}) or ({big}%{small}!=0) ',results2)
print(f'({small} >{big}) or ({big}%{small}!=0) ',results3)

(10 <100) and (100%10==0)  True
(10 <100) and (100%10!=0)  False
(10 <100) or (100%10!=0)  True
(10 >100) or (100%10!=0)  False


## Conditions and Loops

Condition statements (**if statement**), **for**, and **while** loops are very common across app programming languages such as Java, C, and C++, and so is the case with Python. They provide a great way to control your program. Although **loops** are not great when it comes to data related jobs (we will discuss this in later weeks), for now, it is important to know how to use these constructs in Python.

* **If** statement

In [24]:
a = 33
b = 200
if b > a:
    print('b is greater than a because ', f"{b} is greater than {a}")
else:
    print(f"{b} is greater than {a}")

b is greater than a because  200 is greater than 33

* **Indentation** 
"Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose" https://www.w3schools.com/python/python_conditions.asp. The code above won't compile if you write it as follows (this also applies for all python code)

In [22]:
a = 33
b = 200
if b > a:
    print('b is greater than a because ', f"{b} is greater than {a}")
else:
    print(f"{b} is greater than {a}")

b is greater than a because  200 is greater than 33

* **elif statement**

In [23]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

* If statement can be written in short form as follows

In [24]:
if a > b: print("a is greater than b")

a is greater than b

And clearly, you can combine several conditions in your statement using the **and, or** perations

In [25]:
a = 200
b = 33
c = 500
# both conditions must be true
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [26]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

* **While** loops in Python: Below is a simple example that loops over the numbers between 1 to 10, print the number i and the square of it $i^2$

In [27]:
i = 1
while i < 10:
  print(f'{i} to the power 2 is {i**2}')
  i += 1

1 to the power 2 is 1
2 to the power 2 is 4
3 to the power 2 is 9
4 to the power 2 is 16
5 to the power 2 is 25
6 to the power 2 is 36
7 to the power 2 is 49
8 to the power 2 is 64
9 to the power 2 is 81

* **Break**: Some times, you want to break the loop if a condition is already satisfied. So in the example above, I want to check if $i$ is greater than 5, then I want to exit the loop

In [28]:
i = 1
while i < 10:
  print(f'{i} to the power 2 is {i**2}')
  i += 1
  if i>5:
    break

1 to the power 2 is 1
2 to the power 2 is 4
3 to the power 2 is 9
4 to the power 2 is 16
5 to the power 2 is 25

* **Continue** statement is also allows you to stop the current iteration, and continue with the next. In the above example, suppose we want to print all the values of $i$ and its square, apart from 5:

In [29]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    if i==5:# skip five 
        continue
    print(f'{i} to the power 2 is {i**2}')

1 to the power 2 is 1
2 to the power 2 is 4
3 to the power 2 is 9
4 to the power 2 is 16
6 to the power 2 is 36
7 to the power 2 is 49
8 to the power 2 is 64
9 to the power 2 is 81
10 to the power 2 is 100

* The **for** loop is another powerful construct, where you not only can loop or numbers and items but also can execute a set of statements, once for each item in a list, tuple, set etc. You can also use the keyword **range** as shown in the following examples

In [30]:
ds_tools = ["Python", "R", "Git"]
for tool in ds_tools:
  print('Data Science Tool: ', tool)

Data Science Tool:  Python
Data Science Tool:  R
Data Science Tool:  Git

In [31]:
# range keyword
for i in range(10):
    print(f'square of {i} is {i**2}')

square of 0 is 0
square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81

In [32]:
# loop through letters of a string 
for i in 'The University':
    print(i)
    if i == ' ':
        break

T
h
e

## Functions

functions are very powerful way to encapsulate your code and allow the reuse of it for various tasks. Three important things, you must consider when writing your function:

* Give it a meaningful name 
* Think about the parameters that needs to be passed to the function 
* What value/s your function will return? 

Here, lets say we want to design a function that computes the following equation $f(x)=2x^2+5$. Clearly the input parameter must be $x$, the return value must be the $f(x)$ value, below is the code and how we can call it:

In [33]:
def power_func(x):
    results = x **2 
    results = results * 2 + 5
    return results

In [34]:
power_func(5)

55

You can also pass more than one parameter, lets modify our function to $f(x)=x^y + 5$

In [35]:
def cubic_x(x,y):
    return x ** y + 5

In [36]:
x = 3 
y = 2
print(f'{x}^{y} + 5 is {cubic_x(x,y)}')

3^2 + 5 is 14

If the number of parameters is unknown, use * before the parameter name:

In [38]:
def my_course(*courses):
  print("I am considering the following courses " + courses[0])

my_course("CS", "DS", "Eng")

I am considering the following courses CS

## Python Lambda

A lambda function is a small anonymous function that can take any number of arguments, but can only have one expression. Here is an example of lambda function that adds 10 to the parameter passed to the function and prints the results

In [39]:
x = lambda a : a + 10
print(x(5))

15

A **lambda** function that multiplies argument $a$ with argument $b$ and print the result:

In [43]:
x = lambda a, b : a * b
print(x(5, 6))

30

## Import Statement


Large collections of modules, functions and libraries are already built for you. To be able to use these, you need to import the module with the **import** statement. Next week, we will be focusing more on pandas, numpy and other important libraries, but for now, lets just see how we can import and use a certain one.

In [40]:
# You will be working with some common libraries such as 
import pandas as pd
import numpy as np  
# ...

In [41]:
# Math library
import math 
pi = math.pi
print(pi)

3.141592653589793

## Introduction to Pandas and Numpy 

This module is about learning from data, machine learning, data analytics and so on. Therefore, before closing this session, we need to know a little bit about a very important Python libraries that you will use heavily during this semester. This is a gentle introduction, but we will continue to learn about **pandas** and **numpy** through out the course. 

* First, you always need to import these libraries or any library you aim to use in your code as follows:

In [42]:
import pandas as pd 
import numpy as np

* If the code above trigger an error, then it is very likely that these libraries are not installed on your system. To install any library, you can run the following line of code `!pip install np`, or `!conda install x` for any missing library `x`, to install it on the conda environment

* **Load File** Lets load a file that is stored locally as a .csv format (like excel sheet)

In [44]:
df = pd.read_csv('../data/Auto.csv')

* **Quick view** of the data in the file (this file contains data about chars, and certain specs such as mpg, number of cylinders, etc...). Notice that the data once read is stored into a `pd.DataFrame` as `df`. You can call it anything else.

In [45]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

* **Data size** How many rows and columns our file has?

In [46]:
print(f'The size of df is {df.shape}')# 397 row and n columns

The size of df is (397, 9)

* **Columns names**: Sometimes you will deal with files of 100's columns, an easy way to check the columns name is using the following code:

In [47]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [48]:
type(df['mpg'])# check the type of a column

pandas.core.series.Series

* **Show/ Select** one or more column from the data frame based on a certain condition. For example, lets show only select cars of the year 70

In [49]:
cars70 = df[df.year==70]
cars70.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [50]:
print(f'Number of cars in cars70 DataFrame is {cars70.shape[0]}')

Number of cars in cars70 DataFrame is 29

## Command Line 

* If you are using Anaconda / Notebooks, then you will easily run the python code cell by cell, or all together. In addition, Running Python can be done from Command Line: Python code often saved in files with `.py` extension, these can then be executed from the command line. So if you save your python code in a `Test.py` file, then running it from the command line is simple using `python Test.py`. More about this in the following weeks!

## Exercise 

* **Type** (not copy and paste), and run code in this document into your own Jupyter notebook or any IDE you use
* Write a function to compute the area of the circle. Recall for a circle of radius $r$, its area is computed as $\Pi.r^2$. 

**Hint**, you can get the pi value using math library `math.pi`

## Markdown Cells 

Final note about this docuent. This is a markdown cell. You can write **bold  text**, embed figures, and math equations to make your work much easier to read and reproduce (i.e. $e^{i\pi} + 1 = 0$). With basic tags, you can make your code much readable. More about markdown can be found at https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html. It its simplest form, it is just text (your thoughts, your explanation to your work, ...), and you need just to change the type of the cell in the Jupyter Notebook as shown below

<img src="Figure/markdown.PNG">